smart farm(prkh.agarwal12@gmail.com)/flows(complete).json
[{"id":"660b3d0a.56f814","type":"tab","label":"Sensors & Switches","disabled":true,"info":""},{"id":"e240277f.da6b18","type":"ibmiot in","z":"660b3d0a.56f814","authentication":"apiKey","apiKey":"7301c601.f8b378","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3278","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":220,"wires":[["77131de1.d3eb94","ad4cc946.fec5b8","f545417c.e4a3f","96c60553.28d1a8"]]},{"id":"77131de1.d3eb94","type":"debug","z":"660b3d0a.56f814","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"f545417c.e4a3f","type":"function","z":"660b3d0a.56f814","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["77131de1.d3eb94","7f6209c8.d3d1d8"]]},{"id":"ad4cc946.fec5b8","type":"function","z":"660b3d0a.56f814","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["77131de1.d3eb94","e46a137.a87ebf"]]},{"id":"e46a137.a87ebf","type":"ui_gauge","z":"660b3d0a.56f814","name":"","group":"ddf6f531.3e2668","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"a369083d.2e4878","type":"ui_gauge","z":"660b3d0a.56f814","name":"","group":"dcda11ef.58e19","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature/Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":420,"wires":[]},{"id":"96c60553.28d1a8","type":"function","z":"660b3d0a.56f814","name":"Soil Temp/Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["77131de1.d3eb94","a369083d.2e4878"]]},{"id":"7f6209c8.d3d1d8","type":"ui_gauge","z":"660b3d0a.56f814","name":"","group":"d3c6ac7b.dca43","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":360,"wires":[]},{"id":"cb304b9e.be3da8","type":"ibmiot out","z":"660b3d0a.56f814","authentication":"apiKey","apiKey":"7301c601.f8b378","outputType":"cmd","deviceId":"3278","deviceType":"NodeMCU","eventCommandType":"Farm_Command","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":540,"wires":[]},{"id":"35031949.0ec3f6","type":"ui_button","z":"660b3d0a.56f814","name":"","group":"849ee841.8bfa38","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":120,"y":480,"wires":[["cb304b9e.be3da8","77131de1.d3eb94"]]},{"id":"896e77ad.9dd9d8","type":"ui_button","z":"660b3d0a.56f814","name":"","group":"849ee841.8bfa38","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":130,"y":580,"wires":[["cb304b9e.be3da8","77131de1.d3eb94"]]},{"id":"5ff904d8.eb979c","type":"inject","z":"660b3d0a.56f814","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":270,"y":40,"wires":[["5c3d2475.7e953c"]]},{"id":"5c3d2475.7e953c","type":"http request","z":"660b3d0a.56f814","name":"API WEATHER AGRA","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Agra,IN&appid=4f19566560c33cf2b165653d4d5545b9","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":100,"wires":[["77131de1.d3eb94"]]},{"id":"7301c601.f8b378","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ddf6f531.3e2668","type":"ui_group","z":"","name":"Humidity","tab":"777a181.a4f5de8","order":3,"disp":true,"width":"7","collapse":false},{"id":"dcda11ef.58e19","type":"ui_group","z":"","name":"Motor Command","tab":"777a181.a4f5de8","order":1,"disp":true,"width":"7","collapse":false},{"id":"d3c6ac7b.dca43","type":"ui_group","z":"","name":"Temperature","tab":"777a181.a4f5de8","order":2,"disp":true,"width":"7","collapse":false},{"id":"849ee841.8bfa38","type":"ui_group","z":"","name":"Motor Commands","tab":"777a181.a4f5de8","order":4,"disp":true,"width":"21","collapse":true},{"id":"777a181.a4f5de8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]